<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Home
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">   
	<div>
		<h3> 关于我们 </h3>
		<ul>
			<p>本站建于 2021 年 3 月 15 日。基于python语言</p>	
			<p>后端：Django</p>	
			<p>前端：Vue/Bootstrap</p>	
			<p>服务器：Raspberry(Linux/Apache2)</p>
			
			<p>View on <a href="https://gitee.com/Tangkz/tang-long">Gitee</a></p>
			<p>View on <a href="https://github.com/guihuaxin/">GitHub</a></p>
			

		</ul>
	</div>
</div>
{% endblock content %}
