<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    About
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 新增两个 div 容器,预留具体页面的位置 -->
<div id="wrapper">
	<div class="container">
		<div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/download/static/image/site.jpg" download="site.jpg">
						<i class="bi bi-download"></i> Download</a>
				</li>
			</ul>
		</div>
		
		<div>
			<h3> 关于我们 </h3>
			<ul>
				<p>本站建于 2021 年 3 月 15 日。基于python语言</p>	
				<p>后端：Django</p>	
				<p>前端：Vue/Bootstrap</p>	
				<p>服务器：Raspberry(Linux/Apache2)</p>
				
				<p>View on <a href="https://gitee.com/Tangkz/tang-long">Gitee</a></p>
				<p>View on <a href="https://github.com/guihuaxin/">GitHub</a></p>
				

			</ul>
		</div>
		<hr>
		<div>
			<h3> 技术支持 </h3>
			<ul>
				{% for info in info_list %}
				<li>
					<p>{{ info.title }}
						<a href='{{ info.link }}'>{{ info.link }}</a>
						<span style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;
						{{ info.created|date:'Y-m-d' }}</span>
					</p>
				</li>
				{% endfor %}	
			</ul>
		</div>	
	</div>
	
	<div id="push"></div>	
</div>     


{% endblock content %}
	
	

